.header {
    margin: 0;
    padding: 0;
    margin-top: 11px;
    margin-left: 258px;
    margin-bottom: 9px;
    max-width: 1117px;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        margin: 0;
        padding: 0;
        margin-left: 119px;
    }

    &__tel {
        margin: 0 5px;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        line-height: 18px;
        font-style: normal;
        align-items: center;
        font-family: "Futura";
        text-decoration: none;    
        
        &:hover {
            color: #ffbd54;
        }

        &:active {
            opacity: 0.6;
            color: #333333;
        }
    }

    &__tel-0 {
        position: relative;

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: -20px;
            content: "";
            position: absolute;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url("/image/house.svg");
        }
    }

    &__tel-1 {
        position: relative;

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: -20px;
            content: "";
            position: absolute;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url("/image/tel.svg");
        }
    }

    &__tel-2 {
        position: relative;

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: -10px;
            content: "";
            position: absolute;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url("/image/circle.svg");
        }
    }

    &__tel-3 {
        position: relative;

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: -20px;
            content: "";
            position: absolute;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url("/image/schedule.svg");
        } 
    }
}